*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    font-size: inherit;
    box-sizing: border-box;
}

img,
svg,
video {
    display: block;
}
:root {
    --background-clr: #ecebe4;
}
body {
    height: 100dvh;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: var(--background-clr);
    margin-inline: max(15%,2rem);
    flex-direction: column;
    gap: 5rem;
}
.card {
    min-width: min(300px,100%);
    min-height: 500px;
    background-color: #f9f8f6;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #00000010;
    display: grid;
    grid-template-rows: 70% auto;
    overflow: hidden;
    gap: 2rem;
    margin:auto
}
.icons {
    background-color: #f00;
    display: grid;
    font-size: 4rem;
    /* overflow: hidden; */
}

@media screen and (min-width: 600px) {
    .card {
        min-width: min(50%,700px);
    
        min-height: 400px;
        grid-template-rows: 6fr 4fr;
    }
    .icons {
        grid-auto-flow: column;
    }
}

.icons > .icon-panel {
    width: var(--_width);
    display: grid;
    place-items: center;
}
.icons > .icon-panel span {
    font-size: inherit;
}
.icons > .icon-panel:nth-child(1) {
    background-color: hsl(145, 100%, 60%);
    color: hsl(0, 0%, 100%);
}
.icons > .icon-panel:nth-child(2) {
    background-color: hsl(43, 100%, 80%);
    color: hsl(0, 0%, 100%);
}

.icons > .icon-panel:nth-child(3) {
    background-color: hsl(55, 100%, 50%);
    color: hsl(0, 0%, 100%);
}

.icons > .icon-panel:nth-child(4) {
    background-color: hsl(355, 97%, 74%);
    color: hsl(0, 0%, 100%);
}

.base {
    background-color: rgb(255, 207, 112);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.label {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #555;
    text-align: center;
}

.label span::before {
    content: "\00a0";
}
.controls{
    display: flex;
    gap: 2rem;
}

.button {
    all: unset;
    cursor: pointer;

    /* display: inline-block; */
    border-radius: 50%;
    line-height: 0;
    background-color: hsl(0, 0%, 100%);
    padding: max(1rem,5%);
    box-shadow: 0 0 10px 0 #00000077;
    position: relative;
    transform-origin: center center;
    transition: transform 350ms ease-in-out;
}
.button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    outline: 2px solid #0000001a;
    outline-offset: 2px;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 350ms ease, transform 500ms ease-in;
}
.button:where(:hover,:focus-visible,:focus-within):before {
    opacity: 2;
    transform: scale(1);
}
.button:active{
    transform: scale(0.95) translateY(2px);
}
